<div class="crop"
    [style.width.px]="starWidth"
    [title]="trohpy"
    (click)="onClick()">
    <div style="width: 86px">
        <span><img src='https://taylorblitztimes.files.wordpress.com/2011/01/trophy_left_face.jpg'
            [style.width.px]= 12
            [style.margin.px]= 2></span>
        <span><img src='https://taylorblitztimes.files.wordpress.com/2011/01/trophy_left_face.jpg'
            [style.width.px]= 12
            [style.margin.px]= 2></span>
         <span><img src='https://taylorblitztimes.files.wordpress.com/2011/01/trophy_left_face.jpg'
            [style.width.px]= 12
            [style.margin.px]= 2></span>
        <span><img src='https://taylorblitztimes.files.wordpress.com/2011/01/trophy_left_face.jpg'
            [style.width.px]= 12
            [style.margin.px]= 2></span>
        <span><img src='https://taylorblitztimes.files.wordpress.com/2011/01/trophy_left_face.jpg'
            [style.width.px]= 12
            [style.margin.px]= 2></span>
    </div>
</div>